# Vercel
NEXT_PUBLIC_APP_URL=...

# CI/CD
VERCEL_AUTOMATION_BYPASS_SECRET=...
PLAYWRIGHT_EMAIL=...
PLAYWRIGHT_PASSWORD=...
MODAL_SKIP_DEPLOY=...

# Supabase
NEXT_PUBLIC_SUPABASE_URL=...
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_ROLE_KEY=...

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=...
NEXT_PUBLIC_POSTHOG_HOST=...

# Sentry
SENTRY_DSN=...
SENTRY_ENVIRONMENT=...
SENTRY_TRACES_SAMPLE_RATE=...

# Prisma
DATABASE_URL=...
DIRECT_URL=...
DB_POOL_MIN=...
DB_POOL_MAX=...

# Redis
REDIS_URL=...
JOB_DOMAIN=...
RQ_WORKER_CLASS=...

# FastAPI
BACKEND_API_URL=...
AI_API_URL=...
TRAINER_API_URL=...
AUTH_TOKEN=...

# Dataset Handling
HF_TOKEN=...
HF_MODEL_NAMESPACE=...
R2_BUCKET_URL=...
R2_BUCKET_REGION=...
R2_BUCKET_KEY_ID=...
R2_BUCKET_KEY_SECRET=...
R2_API_KEY=...

# Trained Models
S3_BUCKET_URL=...
S3_BUCKET_REGION=...
MODELS_BUCKET_KEY_ID=...
MODELS_BUCKET_KEY_SECRET=...
MODELS_ARTIFACT_HMAC_KEY=...
MLFLOW_TRACKING_URI=''
MLFLOW_EXPERIMENT_NAME=''
