# Vercel
NEXT_PUBLIC_APP_URL='https://localhost:3000'

# CI/CD
VERCEL_AUTOMATION_BYPASS_SECRET='...'
PLAYWRIGHT_EMAIL='name@gmail.com'
PLAYWRIGHT_PASSWORD='password'

# Supabase
NEXT_PUBLIC_SUPABASE_URL='...'
NEXT_PUBLIC_SUPABASE_ANON_KEY='...'
SUPABASE_SERVICE_ROLE_KEY='...'

# Prisma
DATABASE_URL='postgresql://admin:admin@localhost:5432/postgres'
DIRECT_URL='postgresql://admin:admin@localhost:5432/postgres'
DB_POOL_MIN=2
DB_POOL_MAX=10

# Redis
REDIS_URL='redis://localhost:6379'
JOB_DOMAIN='default'
RQ_WORKER_CLASS='SimpleWorker|RandomWorker'

# FastAPI
BACKEND_API_URL='https://localhost:8000'
AUTH_TOKEN='supersecretpassword'
